<html>
  <head>
   <link href="css/style.css" rel="stylesheet">
  </head>
<body>
   <div class="center">
    <div class="bg_color outside ">
     <h1 class="center blue">Favourate</h1>
       <div class="center">
        <a style="color: #ffcc99" href = '/'>Restart</a>
        <div class="footer">Favourate
        </div>
       </div>
     </div>
    </div>
  </div>
<br><br>
<br>
<p class ="center"<%=yield%></p>
</body>
</html>